vendor
node_modules
app/Console
app/Exceptions
app/Http
app/Providers/*
!app/Providers/RouteServiceProvider.php
app/User.php
app/Models
bootstrap
config
database
public/*
!public/assets
resources/assets/js/*
!resources/assets/js/adminator.js
resources/assets/sass/*
!resources/assets/sass/adminator.scss
resources/lang
resources/views/*
!resources/views/adminator
routes/*
!routes/adminator.php
storage
tests
.env
.env.example
.gitattributes
artisan
composer.json
composer.lock
phpunit.xml
server.php
yarn.lock
.idea



